@font-face {
    font-family: "Libre Franklin";
    font-weight: 400;
    src: url(../fonts/LibreFranklin-Regular.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Libre Franklin";
    font-weight: 600;
    src: url(../fonts/LibreFranklin-SemiBold.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Libre Franklin";
    font-weight: 700;
    src: url(../fonts/LibreFranklin-Bold.woff2) format("woff2");
    font-display: swap;
}